<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmLink"
        tools:targetApi="31">
        <activity
            android:name=".store_manager_activities.ProductDetails"
            android:exported="false" />
        <activity
            android:name=".store_manager_activities.ProductPageActivity"
            android:exported="false" />
        <activity
            android:name=".store_manager_activities.FeedbackDetails"
            android:exported="false" />
        <activity
            android:name=".store_manager_activities.FeedbackFetch"
            android:exported="false" />
        <activity
            android:name=".store_manager_activities.FeedbackInsert"
            android:exported="false" />
        <activity
            android:name=".Feedback_Insert"
            android:exported="false" />
        <activity
            android:name=".store_manager_activities.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".store_manager_activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cart_Delivery_Activities.AddressAcivity" android:exported="false" />
        <activity android:name=".Cart_Delivery_Activities.BillingActivity" android:exported="false" />
        <activity android:name=".Cart_Delivery_Activities.AddressDetailsActivity" android:exported="false" />
        <activity android:name=".Cart_Delivery_Activities.ProductActivity" android:exported="false" />
        <activity android:name=".Cart_Delivery_Activities.CartActivity" android:exported="false" />
        <activity android:name=".Cart_Delivery_Activities.SuccessDeliveryActivity" android:exported="false" />
        <activity android:name=".Cart_Delivery_Activities.ActivityPlaceOrder" android:exported="false" />

    </application>

</manifest>